.check-element.ng-hide-add, .check-element.ng-hide-remove {
  transition: 0.2s linear all;
}

.slide-animation.ng-enter, .slide-animation.ng-leave {
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all;
    position:relative;
    height: 1000px; /* This can be changed based on your target resolution */
}

.slide-animation.ng-enter {
  z-index:100;
  left:100px;
  opacity:0;
}

.slide-animation.ng-enter.ng-enter-active {
  left:0;
  opacity:1;
}

.slide-animation.ng-leave {
  z-index:101;
  opacity:1;
  left:0;
}

.slide-animation.ng-leave.ng-leave-active {
  left:-100px;
  opacity:0;
}

body.skip-animations * {
  -webkit-transition:none!important;
  -moz-transition:none!important;
  -o-transition:none!important;
  transition:none!important;
}

.show-hide-animation.ng-hide-add, 
.show-hide-animation.ng-hide-remove {
  -webkit-transition:all linear 0.3s;
  -moz-transition:all linear 0.3s;
  -o-transition:all linear 0.3s;
  transition:all linear 0.3s;
  display:block!important;
  height: 1000px;
}
 
.show-hide-animation.ng-hide-remove {
  opacity:0;
}
.show-hide-animation.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}
.show-hide-animation.ng-hide-add {
  opacity:1;
}
.show-hide-animation.ng-hide-add.ng-hide-add-active {
  opacity:0;
}

.repeat-animation.ng-enter, 
.repeat-animation.ng-leave, 
.repeat-animation.ng-move {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
  position:relative;
}

.repeat-animation.ng-enter {
  left:10px;
  opacity:0;
}
.repeat-animation.ng-enter.ng-enter-active {
  left:0;
  opacity:1;
}

.repeat-animation.ng-leave {
  left:10px;
  opacity:1;
}
.repeat-animation.ng-leave.ng-leave-active {
  left:-10px;
  opacity:0;
}

.repeat-animation.ng-move {
  opacity:0.5;
}
.repeat-animation.ng-move.ng-move-active {
  opacity:1;
}

body {
    background-color: #eaeaea;
}

.table-container {
    background-color: #eaeaea;
	border: 1px dotted #c6c6c6;
	border-radius: 10px;
	
}

#main-heading {
    color: #0a6fb7;
    
}

#employee-name {
    font-weight: 500;
    font-size: 18px;
}

#table-header {
    font-size: 18px;
    
}

#table-header input {
	line-height: 1;
	margin-left: 10px;
	font-weight: 100;	
}

 #color {
    background-color: #f7f7f7;
}

#result-h2 {
    text-align: center;
    
    
}

#yellow-color {
        color: #00f2ba;
        
}

#result-h4 {
    text-align: center;
    
}

#team-style {
    font-weight: 700;
    font-style: italic;
}

#age{
    font-weight: 700;
    color: #de2a84;
    font-size: 88px;
    
}

#result-h1 {
    text-align: center;
}

.result-p {
    text-align: center;
}

#result-answer {
    text-align: center;
    
}

#answer {
    font-weight: 500;
    color:#d99f00;    
}

#aboutMe {
    background-color: #f7f7f7;
    
}
.displayPic { 
    display: inline;
    float: left;
    clear: both;
}


.bio {
    display: inline-block;
    padding-left: 50px;
    line-height: 45px;
    
}

.bio h3 {
    color: #878b8a;
    
}

.bio h4 {
    font-size: 22px;
    
}

#paragraph {
    font-size: 16px;
    
}

.happy{
	background-color: #f7f7f7;
	padding: 10px;
	border-radius: 10px;
	margin: 20px;
	
}

.happy:hover {
	box-shadow: 5px 5px 15px #888888;
	zoom: 1.01;
	
}

.happy h1 { padding: 1px; 5px 5px 2px; }

.happy p {
	color: grey;
}

.happy .tab-space {
	margin-left: 10%;
}

.happy .tab-space span1 {
	color: black;
}

.happy .tab-space span2 {
	font-style: italic;
}

.network {
	background-color: #f7f7f7;
	padding: 10px;
	border-radius: 10px;
	margin:20px
}

.network:hover {
	box-shadow: 5px 5px 15px #888888;
	zoom: 1.01;
	
}

.network h1 { padding: 1px; 5px 5px 2px; }

.network p {
	color: grey;
}

.network .tab-space {
	margin-left: 10%;
}

.network .tab-space span1 {
	color: black;
}

.network .tab-space span2 {
	font-style: italic;
}

.app{
	background-color: #f7f7f7;
	padding: 10px;
	border-radius: 10px;
	margin:20px
}

.app:hover {
	box-shadow: 5px 5px 15px #888888;
	zoom: 1.01;
	
}


.app h1 { padding: 1px; 5px 5px 2px; }

.app p {
	color: grey;
}

.app .tab-space {
	margin-left: 10%;
}

.app .tab-space span1 {
	color: black;
}

.app .tab-space span2 {
	font-style: italic;
}

.re{
	background-color: #f7f7f7;
	padding: 10px;
	border-radius: 10px;
	margin:20px
}

.re:hover {
	box-shadow: 5px 5px 15px #888888;
	zoom: 1.01;
	
}

.re h1 { padding: 1px; 5px 5px 2px; }

.re p {
	color: grey;
}

.re .tab-space {
	margin-left: 10%;
}

.re .tab-space span1 {
	color: black;
}

.re .tab-space span2 {
	font-style: italic;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 100%;
	height: 400px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
    background: rgba(12, 118, 89, 0.82);
    border: 2px solid #f7f7f7;
    border-radius: 10px;
    margin: 5px;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
    background: rgba(136, 18, 41, 0.78);
    border: 2px solid #f7f7f7;
    border-radius: 10px;
    margin: 5px;
}

.front_h2 {
    color: #e3e3e3;
    text-align: center;
    font-family: sans-serif;
    position: relative;
    top: 35%;
    
}

.back_h2 {
    color: #000;
    text-align: center;
    font-family: sans-serif;
    position: relative;
    top: 35%;
    
}

.editInfo {
    display: inline-block;
    color: black;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin-left: 10px;
    margin-top: 10px;
    
}
.form-group{
    background: #d6d6d6;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.formInline {
    margin: 5px;
    padding: 5px;
}

.logOut {
    margin: 10px 5px 5px;
    
}