<div class="container">
<div class="row">
   
    <div class="col-md-4 form-group">
        <h2>Form to add an employee</h2><br/>
        <form ng-submit="submit()">
            <input class="form-control" type="text" value="" ng-model="fullName" placeholder="Name" >
      
            <input class="form-control" type="text" value="" ng-model="team" placeholder="Team">
            
            <h4>If you could go back in time, what AGE would you go back to and WHY?</h4><input class="form-control" type="text" value="" ng-model="age" placeholder="Age">
 
            <input class="form-control" type="text" value="" ng-model="answer1" placeholder="Why?" >
     
            <h4>What is the most unjustly underrated TV show?</h4><input class="form-control" type="text" value="" ng-model="answer2" placeholder="Answer" >
     
             <h4>What is your comfort food?</h4><input class="form-control" type="text" value="" ng-model="answer3" placeholder="Answer" >
     
           <h4>What is your current favorite restaurant?</h4><input class="form-control" type="text" value="" ng-model="answer4" placeholder="Answer" >
     
            
            <h4>What is your dream destination?</h4><input class="form-control" type="text" value="" ng-model="answer5" placeholder="Answer" >
     <br />
            <input type="submit" id="submit" value="Submit" />
        </form>

    </div>
</div>
</div>






















<!--<div class="container" id="aboutMe">
    
    <div class="row">
        <div class="col-md-3 ">
            <img src="../images/utkarsh-bw.jpg" class="displayPic">
        </div>
        
        <div class="col-md-9 ">
            <div class="bio">
                <h3><strong>Hey all :D</strong></h3>
                <h4>Who is this guy in the picture?</h4>
                <p id="paragraph">Hey that's me (no way?!?).<br> My name is <strong>Utkarsh Saxena</strong>, an/a engineer/developer from the University of British Columbia. <br>You will see me around for (at least) next 8 months (Fingers Crossed) as a Front-End Developer.<br> Feel free to come say Hi if you haven't already. (or if you have no idea how to pronounce "Utkarsh", or if you are looking for somebody to get food with, or if..., or if...).<br> Also, add me here on <strong><a href="https://ca.linkedin.com/in/usaxena" target="_blank">LinkedIn</a></strong>. <br> Great to be here. Looking forward to meeting/working/hanging out with you all.</p>
    
    
    
    
            </div>
        </div>
        
       
        
    </div>
    
    
    
    
    
    
    





</div>-->