<div class="container-fluid">
    
    <div class="row">
        <div class="col-md-6 ">
            <h2 id="main-heading">Welcome to RESAAS - HappApp</h2>
            <h4>Find out more about your fellow <strong>RESAASIAN</strong></h4>
        </div>
    </div>
    <br>
	<div class="row">
        <div class="col-md-5">
	
			<div class="table-container">
				<table class="table table-hover">
					<thead>
						<tr id="table-header">
							<th>Search: <input type="text" value="" ng-model="name"></th>    
						</tr>
					</thead>

					<tbody ng-repeat = "people in employees | filter:name | orderBy:'name'" class="repeat-animation">

						<tr id="employee-name">
							<td ><a href="#/result/{{ people.id }}"> {{ people.name }} <span style="font-size: 14px">({{ people.team }})</span> </a></td>    
						</tr>

					</tbody>    
				</table>
			</div>
		</div>
		<div class="col-md-7">
			<div class="container-fluid">
				
				<div class="re">
					<h1>real es·tate</h1>
					<h4>/ˈrē(ə)l/ /iˈstāt/</h4>
					<p>noun</p>
					<p class="tab-space"><span1>property consisting of land or buildings.</span1> <br>
					"most of her real estate is in New Mexico"<br>
					<span2>synonyms:</span2>		property, grounds, garden(s), park, parkland, land(s), landholding;
					</p>
				</div>
				
				<div class="network">
					<h1>net·work</h1>
					<h4>/ˈnetˌwərk/</h4>
					<p>noun</p>
					<p class="tab-space"><span1>a group or system of interconnected people or things.</span1> <br>
					"a real estate social network"<br>
					<span2>synonyms:</span2>		system, complex, nexus, web, webwork;
					</p>
				</div>
				
				<div class="happy">
					<h1>hap·pi·ness</h1>
					<h4>/ˈhapēnəs/</h4>
					<p>noun: happiness; plural noun: happinesses</p>
					<p class="tab-space"><span1>the state of being happy.</span1> <br>
					"she struggled to find happiness in her life" <br>
					<span2>synonyms:</span2>	pleasure, contentment, satisfaction, cheerfulness, merriment, gaiety, joy;
					</p>
				</div>
				
				<div class="app">
					<h1>ap·pli·ca·tion</h1>
					<h4>/ˌapləˈkāSH(ə)n/</h4>
					<p>noun</p>
					<p class="tab-space"><span1>the action of putting something into operation</span1> <br>
					"the application of general rules to particular cases"<br>
					<span2>synonyms:</span2>		implementation, use, exercise, employment, utilization, practice;
					</p>
				</div>
		</div>
	</div>
</div>
    
