<input type="checkbox" ng-model="checked"><p class="editInfo"><span ng-hide="checked">Check to Edit</span><span ng-show="checked">Uncheck to Show</span> Information</p>

<div class="container check-element animate-show" ng-hide="checked">
    <div class="row">
        <div class="col-md-6">
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                    <div class="front">
                        <h2 class="front_h2">{{ name }}</h2>
                    </div>
                    <div class="back">
                        <h2 class="back_h2">{{ team }}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                    <div class="front">
                        <h2 class="front_h2">{{ question1 }}</h2>
                    </div>
                    <div class="back">
                        <h2 class="back_h2">{{ age }}</h2>
                        <h2 class="back_h2">{{ answer1 }}</h2>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                    <div class="front">
                        <h2 class="front_h2">{{ question2 }}</h2>
                    </div>
                    <div class="back">
                        <h2 class="back_h2">{{ answer2 }}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                    <div class="front">
                        <h2 class="front_h2">{{ question3 }}</h2>
                    </div>
                    <div class="back">
                        <h2  class="back_h2">{{ answer3 }}</h2>
                    </div>
                </div>
            </div>
        
        </div>    
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                    <div class="front">
                        <h2 class="front_h2">{{ question4 }}</h2>
                    </div>
                    <div class="back">
                        <h2 class="back_h2">{{ answer4 }}</h2>
                    </div>
                </div>
            </div>    
        </div>
        <div class="col-md-6">
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                    <div class="front">
                        <h2 class="front_h2">{{ question5 }}</h2>                       
                    </div>
                    <div class="back">
                        <h2 class="back_h2">{{ answer5 }}</h2> 
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>



<div class="container check-element animate-show" ng-show="checked">
    <div class="form-group col-md-4">
        <form ng-submit="editSubmit()">
            <h4>Name:</h4><input class="form-control" type="text" value="" ng-model="name" placeholder="{{ name }}" >
            <h4>Team:</h4><input class="form-control" type="text" value="" ng-model="team" placeholder="{{ team }}">
            <h4>{{ question1 }}</h4> Age:<input class="form-control" type="text" value="" ng-model="age" placeholder="{{ age }}">
                Why?:<input class="form-control"  type="text" value="" ng-model="answer1" placeholder="{{ answer1 }}" >
                <h4>{{ question2 }}</h4>
            <input class="form-control" type="text" value="" ng-model="answer2" placeholder="{{ answer2 }}" >
                <h4>{{ question3 }}</h4>
            <input class="form-control" type="text" value="" ng-model="answer3" placeholder="{{ answer3 }}" >
                <h4>{{ question4 }}</h4>
            <input class="form-control" type="text" value="" ng-model="answer4" placeholder="{{ answer4 }}" >
                <h4>{{ question5 }}</h4>
            <input class="form-control" type="text" value="" ng-model="answer5" placeholder="{{ answer5 }}" ><br/>
                <input type="submit" id="submit" value="Submit" />
            </form>


    </div>
</div>
